<a href="https://colab.research.google.com/github/a3hok/Data-Visualization-spring-2022/blob/main/Exam_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


#Exam 2

Ashok Dahal

CPSMA 4313

# Loading Libraries

In [125]:
import pandas as ad 
import requests
import numpy as np
import re

##References:

https://github.com/nurfnick/Data_Viz

https://github.com/nurfnick/Data_Viz/blob/main/20_Cleaning_Conclusion.ipynb

https://github.com/nurfnick/Data_Viz/blob/main/16_Dates.ipynb

https://github.com/nurfnick/Data_Viz/blob/main/17_Ints_and_Floats.ipynb


“I attest that the resources above were the only ones utilized in completing the exam and the work included is my own and no one else from the course.”

Gathering the data from a fitbit provided on Kaggle.

Storeing as a panda dataframe.

In [126]:
df = ad.read_csv('https://raw.githubusercontent.com/nurfnick/Data_Viz/main/Activity_Dataset_V1.csv')
df.head(10)

,Unnamed: 0,activity_day,workout_type,distance,time,calories,total_steps,avg_speed,avg_cadence,max_cadence,...,max_pace,min_pace,avg_heart_rate,max_heart_rate,min_heart_rate,vo2_max(%),aerobic(%),anaerobic(%),intensive(%),light(%)
0,0,2022-01-01,Freestyle,9.30,77,123,NaN,18.88,168.54,138.30,...,NaN,NaN,112.5,122.0,103,19,28,2,7,50
1,1,2022-01-01,Freestyle,3.44,96,55,NaN,29.65,125.92,292.81,...,NaN,NaN,111.0,122.0,100,42,28,2,29,88
2,2,2022-01-01,Indoor Cycling,6.34,85,33,NaN,17.85,81.93,323.69,...,NaN,NaN,95.0,90.0,100,1,32,0,22,43
3,3,2022-01-01,Walking,7.91,42,82,1571.0,22.10,29.63,180.16,...,28:58,07:58,83.0,85.0,81,3,22,0,24,65
4,4,2022-01-01,Open Water,8.99,36,131,NaN,25.83,64.55,342.89,...,NaN,NaN,138.0,166.0,110,7,0,5,21,88
5,5,2022-01-01,Outdoor Cycling,5.47,117,144,NaN,2.20,43.47,291.67,...,NaN,NaN,142.0,177.0,107,44,45,15,57,39
6,6,2022-01-01,Indoor Cycling,6.28,66,378,NaN,10.65,23.83,253.84,...,NaN,NaN,85.0,90.0,80,34,32,0,44,23
7,7,2022-01-01,Outdoor Running,2.94,26,430,7618.0,10.59,131.93,334.72,...,27:44,06:15,145.0,190.0,100,23,0,71,18,3
8,8,2022-01-01,Trail Run,2.87,26,465,2790.0,32.92,21.42,341.17,...,25:50,06:20,142.0,188.0,96,2,0,80,46,13
9,9,2022-01-01,Pool Swimming,3.91,23,99,NaN,33.15,169.30,206.97,...,NaN,NaN,132.5,175.0,90,22,20,15,28,20

In [127]:
df.dtypes #checking data types

Unnamed: 0          int64
activity_day       object
workout_type       object
distance          float64
time                int64
calories            int64
total_steps       float64
avg_speed         float64
avg_cadence       float64
max_cadence       float64
avg_pace           object
max_pace           object
min_pace           object
avg_heart_rate    float64
max_heart_rate    float64
min_heart_rate      int64
vo2_max(%)          int64
aerobic(%)          int64
anaerobic(%)        int64
intensive(%)        int64
light(%)            int64
dtype: object

# (a) Store the data as a pandas dataframe. Examine each datatype and comment on the appropriateness of each.


When I see the data sets I would change activity_day from object data type into date and time  data type. 

The total_steps need to be changed into int data type as step never count in decimal. 

Also, it would be accurate if we use avg_pace, max_pace and min_pace into float data type instead of object dtype. 

I think min_heart_rate also need to be in float data type so that it can give accurate result.

#(b) Remove the column that repeats the indexes and is ‘unnamed’ as a column.

I am using drop method to delet the column.

In [128]:
df1=df.drop('Unnamed: 0', axis =1)  #delet the column
df1.head(10)

,activity_day,workout_type,distance,time,calories,total_steps,avg_speed,avg_cadence,max_cadence,avg_pace,max_pace,min_pace,avg_heart_rate,max_heart_rate,min_heart_rate,vo2_max(%),aerobic(%),anaerobic(%),intensive(%),light(%)
0,2022-01-01,Freestyle,9.30,77,123,NaN,18.88,168.54,138.30,NaN,NaN,NaN,112.5,122.0,103,19,28,2,7,50
1,2022-01-01,Freestyle,3.44,96,55,NaN,29.65,125.92,292.81,NaN,NaN,NaN,111.0,122.0,100,42,28,2,29,88
2,2022-01-01,Indoor Cycling,6.34,85,33,NaN,17.85,81.93,323.69,NaN,NaN,NaN,95.0,90.0,100,1,32,0,22,43
3,2022-01-01,Walking,7.91,42,82,1571.0,22.10,29.63,180.16,07:58,28:58,07:58,83.0,85.0,81,3,22,0,24,65
4,2022-01-01,Open Water,8.99,36,131,NaN,25.83,64.55,342.89,NaN,NaN,NaN,138.0,166.0,110,7,0,5,21,88
5,2022-01-01,Outdoor Cycling,5.47,117,144,NaN,2.20,43.47,291.67,NaN,NaN,NaN,142.0,177.0,107,44,45,15,57,39
6,2022-01-01,Indoor Cycling,6.28,66,378,NaN,10.65,23.83,253.84,NaN,NaN,NaN,85.0,90.0,80,34,32,0,44,23
7,2022-01-01,Outdoor Running,2.94,26,430,7618.0,10.59,131.93,334.72,06:44,27:44,06:15,145.0,190.0,100,23,0,71,18,3
8,2022-01-01,Trail Run,2.87,26,465,2790.0,32.92,21.42,341.17,06:48,25:50,06:20,142.0,188.0,96,2,0,80,46,13
9,2022-01-01,Pool Swimming,3.91,23,99,NaN,33.15,169.30,206.97,NaN,NaN,NaN,132.5,175.0,90,22,20,15,28,20

#(c) Clean the column names to remove the unit declaration, (%), using regular expressions. The column name should not have any trailing spaces after cleaning. You will only receive partial credit for simply renaming columns without using regular expressions.

Removing unwanted trailing space and sign.

In [129]:
df2 = df1.rename(columns = lambda x: re.sub(r'[(.%)]' ,'' ,x)) #removing (%) from columns
df2.columns

Index(['activity_day', 'workout_type', 'distance', 'time', 'calories',
       'total_steps', 'avg_speed', 'avg_cadence', 'max_cadence', 'avg_pace',
       'max_pace', 'min_pace', 'avg_heart_rate', 'max_heart_rate',
       'min_heart_rate', 'vo2_max', 'aerobic', 'anaerobic', 'intensive',
       'light'],
      dtype='object')

#(d) Convert 'activity_day' column into a datetime format.

Converting into datetime format.

In [130]:
df2.activity_day = df2.activity_day.astype('datetime64[ns]') #changing into date time dtypes.
df2.dtypes

activity_day      datetime64[ns]
workout_type              object
distance                 float64
time                       int64
calories                   int64
total_steps              float64
avg_speed                float64
avg_cadence              float64
max_cadence              float64
avg_pace                  object
max_pace                  object
min_pace                  object
avg_heart_rate           float64
max_heart_rate           float64
min_heart_rate             int64
vo2_max                    int64
aerobic                    int64
anaerobic                  int64
intensive                  int64
light                      int64
dtype: object

#(e) Impute ‘total steps’ by replacing the ‘NaN’s with an appropriate number of steps. Convert to appropriate datatype.

First I am using fillna method to replace NaNs. After that I am changing into int dtypes.

In [142]:
df2.total_steps.fillna(value=df2.total_steps.min(), inplace=True)
df2['total_steps'] = df2['total_steps'].astype(int)                #changing into 'int' dypes
df2['total_steps'].head(10)

0    1571
1    1571
2    1571
3    1571
4    1571
5    1571
6    1571
7    7618
8    2790
9    1571
Name: total_steps, dtype: int64

#(f) Convert non-empty ‘avg pace’ into a float that is still representative of the information contained in the column. Recall that there are 60 seconds in one minute so 3:30 is equivalent to 3.5 minutes.

First I am changing ave_pace into date time dtypes from object dtypes.

In [144]:
df2['avg_pace'] = ad.to_datetime(df2['avg_pace'])
df2['avg_pace'] = df2['avg_pace'].dt.hour + (df2['avg_pace'].dt.minute)/60
df2['avg_pace'].head(10)

0    NaN
1    NaN
2    NaN
3    0.0
4    NaN
5    NaN
6    NaN
7    0.0
8    0.0
9    NaN
Name: avg_pace, dtype: float64

#(g) Group data by ‘workout type’ and find the mean, median, count and standard deviation of ‘calories’.

First I have to  groupby and find mean, median, count and standard deviation of calories.

In [133]:
df2.groupby('workout_type').calories.agg(['mean','median','count', 'std']) # finding mean,median,count and std.

                       mean  median  count         std
workout_type
Cricket          307.548387   330.0     93  149.950609
Freestyle        278.552083   294.0     96  163.703768
Indoor Cycling   280.450000   306.0     80  156.633322
Open Water       296.747253   328.0     91  160.068499
Outdoor Cycling  299.129412   301.0     85  158.731263
Outdoor Running  301.469136   349.0     81  165.725080
Pool Swimming    283.414894   300.0     94  157.576703
Trail Run        267.966667   264.0     90  155.748533
Treadmill        278.142857   269.5     98  146.963352
Trekking         283.127660   280.5     94  151.034870
Walking          276.040816   270.5     98  157.287570

#(h) Create an indicator column that identifies if the activity achieved 30% or more ‘aerobic’ activity.

Indicator column that identifies if the activity achieved 30% or more ‘aerobic’ activity.

In [134]:
df2['indicator'] = np.where(df2['aerobic'] >= (30), 'True', 'False')
df2.head(10)

,activity_day,workout_type,distance,time,calories,total_steps,avg_speed,avg_cadence,max_cadence,avg_pace,...,min_pace,avg_heart_rate,max_heart_rate,min_heart_rate,vo2_max,aerobic,anaerobic,intensive,light,indicator
0,2022-01-01,Freestyle,9.30,77,123,1571,18.88,168.54,138.30,NaN,...,NaN,112.5,122.0,103,19,28,2,7,50,False
1,2022-01-01,Freestyle,3.44,96,55,1571,29.65,125.92,292.81,NaN,...,NaN,111.0,122.0,100,42,28,2,29,88,False
2,2022-01-01,Indoor Cycling,6.34,85,33,1571,17.85,81.93,323.69,NaN,...,NaN,95.0,90.0,100,1,32,0,22,43,True
3,2022-01-01,Walking,7.91,42,82,1571,22.10,29.63,180.16,7.966667,...,07:58,83.0,85.0,81,3,22,0,24,65,False
4,2022-01-01,Open Water,8.99,36,131,1571,25.83,64.55,342.89,NaN,...,NaN,138.0,166.0,110,7,0,5,21,88,False
5,2022-01-01,Outdoor Cycling,5.47,117,144,1571,2.20,43.47,291.67,NaN,...,NaN,142.0,177.0,107,44,45,15,57,39,True
6,2022-01-01,Indoor Cycling,6.28,66,378,1571,10.65,23.83,253.84,NaN,...,NaN,85.0,90.0,80,34,32,0,44,23,True
7,2022-01-01,Outdoor Running,2.94,26,430,7618,10.59,131.93,334.72,6.733333,...,06:15,145.0,190.0,100,23,0,71,18,3,False
8,2022-01-01,Trail Run,2.87,26,465,2790,32.92,21.42,341.17,6.800000,...,06:20,142.0,188.0,96,2,0,80,46,13,False
9,2022-01-01,Pool Swimming,3.91,23,99,1571,33.15,169.30,206.97,NaN,...,NaN,132.5,175.0,90,22,20,15,28,20,False

#(i) Which day of the week (Monday, Tuesday, etc.) and ‘workout type‘ has the maximum of the ‘max_cadence’.

 Calculating the day, workout type that has maximum  of max_cadence.

In [137]:
df3 = df2.loc[df2.max_cadence == df2.max_cadence.max()]
print('Day  = ' + df3.activity_day.dt.day_name().iloc[0]) #day
print('Workout type = ' + df3.workout_type.iloc[0])     # workout type
print('Max cadence = ' + str(df2['max_cadence'].max()))  # Maximum  cadence

Day  = Wednesday
Workout type = Pool Swimming
Max cadence = 349.78

# 2.Questions about the exam 
(a) Approximately how long did you work on this exam? 

It took me around four hours to complete the exam

(b) Which was the hardest and easiest topic from this section? 

The hardest topic I find is question number 'f' and 'i' and the easiest topic I find is 'a'.

(c) Which method of cleaning data should I have spent more instructional time on?

To view the data clearlly I have spent more time on to  remove unwanted column and changeing  various data types.