<a href="https://colab.research.google.com/github/a3hok/Data-Visualization-spring-2022/blob/main/Quiz_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Ashok Dahal
#BigQuery

The following command is for Authenticate dataset from google cloud platform

In [ ]:
from google.colab import auth
auth.authenticate_user()
print('Authenticated')

Authenticated

Plotting the dataset of austin bikeshare in the google cloud platform using BigQuery.

In [45]:
%%bigquery --project data-visualization-339004
SELECT *
FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips`
LIMIT 5

      trip_id  ... duration_minutes
0  9900289692  ...               39
1  9900285987  ...               31
2  9900285989  ...               31
3  9900285991  ...               30
4  9900286140  ...               19

[5 rows x 9 columns]

In [ ]:
Created my project data-visualization-339004. here shown limit of 5 as I enter LIMIT 5 in the command line.

##Computeing the average time for a trip based on starting point.

In [46]:
%%bigquery --project data-visualization-339004
SELECT 
  start_station_name, 
  AVG(duration_minutes) as Average_time_for_trip
FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips`
WHERE start_station_name is not null 
GROUP BY start_station_name

                        start_station_name  Average_time_for_trip
0                         Zilker Park West              27.168259
1                  Toomey Rd @ South Lamar              28.115798
2          State Capitol @ 14th & Colorado              30.421842
3                         Waller & 6th St.              23.265843
4                               Pease Park              28.648889
..                                     ...                    ...
188  Republic Square @ Guadalupe & 4th St.              23.067313
189                             3rd & West              19.937466
190                               3rd/West              34.152547
191                          Nueces & 26th              16.805353
192                            26th/Nueces              24.521670

[193 rows x 2 columns]

Above is shown the average time for trip.

##Computing how many trips start at each starting point.

In [47]:
%%bigquery --project data-visualization-339004
SELECT 
  start_station_name,
  COUNT(*) as total_trips
FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips`
GROUP BY start_station_name
ORDER BY total_trips DESC

           start_station_name  total_trips
0        21st & Speedway @PCL        72799
1        Riverside @ S. Lamar        40635
2    City Hall / Lavaca & 2nd        36520
3              2nd & Congress        35307
4        Rainey St @ Cummings        34758
..                        ...          ...
188           Marketing Event            4
189             Eeyore's 2018            2
190                    Stolen            1
191             Eeyore's 2017            1
192     cesar Chavez/Congress            1

[193 rows x 2 columns]

Above is shown the total trips.